@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: url("../font/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: url("../font/Lato/Lato-Bold.ttf") format("truetype");
}

html {
    font: 300 16px 'Lato', sans-serif;
    background-color: #2C2D31;
    color: #1A1A1A;
}

textarea {
    border-radius: 4px !important;
    color: #1A1A1A !important;
}

.bg-white {
    background-color: #FFFFFF;
}

.clr-dark {
    color: #2C2D31;
}

.uk-active {
    font-weight: 400;
}

.uk-label {
    padding: 0 10px 3px;
    text-transform: none;
    line-height: normal;
    font-weight: 400;
}

.uk-label-red-dark {
    background-color: #A43E3E;
}

.uk-label-red-light {
    background-color: #D36E6E;
}

.uk-label-red-dark:hover, .uk-label-red-light:hover {
    background-color: #4E4E4E;
}

.selection-area, .translation-area {
    min-height: 550px;
    border: 2px solid #5F5F5F;
    border-radius: 4px;
    background-color: #F3F3F3;
}

.selection-area .uk-search-input {
    border-radius: 20px;
    background-color: #FFFFFF;
}

.selection-area .uk-search-input:focus {
    border-color: #1E87F0;
    background-color: #FFFFFF;
}

#translation-form .uk-link span:last-of-type {
    font-weight: 400;
    font-size: 14px;
}

#translation-form textarea {
    display: block;
    resize: none;
    height: 100px;
}

#translation-first, #translation-second {
    margin-bottom: 10px;
}