@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: url("../font/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: url("../font/Lato/Lato-Bold.ttf") format("truetype");
}

html {
    font: 300 16px 'Lato', sans-serif;
    background-color: #2C2D31;
    color: #1A1A1A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

textarea {
    border-radius: 4px !important;
    color: #1A1A1A !important;
}

.bg-white {
    background-color: #FFFFFF;
}

.clr-white {
    color: #FFFFFF;
}

.clr-dark {
    color: #2C2D31;
}

.uk-active {
    font-weight: 400;
}

.uk-button {
    padding: 0 15px 3px;
    border-radius: 3px;
    text-transform: none;
}

.uk-button-default.uk-text-muted:hover {
    color: #7D7D7D !important;
}

.uk-button-success-outline {
    color: #42C299;
    border: 1px solid #42C299;
}

.uk-button-success-outline:hover {
    color: #42C299;
    border: 1px solid #3AA381;
}

.head .middle {
    padding-top: 3px !important;
}

.head .right {
    padding-top: 3px !important;
    color: #B7B7B7;
}

.dashboard {
    color: #FFFFFF;
}

.dashboard h1 {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: 700;
}

.dashboard h2 {
    margin: 0;
    padding: 0;
    color: #C7C7C7;
    font-weight: 300;
    font-size: 24px;
}

.resource-selection {
    width: 240px;
    height: 180px;
    padding: 30px 35px;
    border: 2px solid #989898;
    border-radius: 4px;
}

.resource-selection h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

.resource-selection h3:after {
    content: "";
    float: left;
    margin-top: 2px;
    background-color: #42C299;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

.resource-selection:hover {
    background-color: #141414;
}

.resource-selection a {
    padding: 3px 10px;
    border: 1px solid #989898;
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: 400;
}

.resource-selection a:hover {
    text-decoration: none;
    background-color: #ECECEC;
    border-color: #ECECEC;
    color: #2C2D31;
}

.selection-area, .translation-area {
    border: 2px solid #5F5F5F;
    border-radius: 4px;
    background-color: #F3F3F3;
}

.selection-area .uk-search-input {
    border-radius: 20px;
    background-color: #FFFFFF;
}

.selection-area .uk-search-input:focus {
    border-color: #1E87F0;
    background-color: #FFFFFF;
}

.selection-area .uk-iconnav {
    margin-top: 15px;
}

.keys-list {
    overflow: auto;
    min-height: 223px;
    max-height: calc(100vh - 263px);
    margin-top: 8px;
}

.resource-key {
    display: block;
    margin-bottom: 3px;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: #D8D8D8;
    color: #313131;
    font-size: 14px;
}

.resource-key:hover {
    text-decoration: none;
    border-left: 5px solid #636363;
    background-color: #717171;
    color: #FBFBFB;
}

.resource-key.active {
    border-left: 5px solid #42C299;
    background-color: #2C2D31;
    color: #FBFBFB;
}

.resource-key.active:hover {
    text-decoration: none;
}

.resource-key .key {
    font-weight: 400;
    word-wrap: break-word;
}

.resource-key .text {
    font-size: 12px;
}

#translation-form .uk-link span:last-of-type {
    font-weight: 400;
    font-size: 14px;
}

#translation-form textarea {
    display: block;
    resize: none;
    height: 100px;
}

#translation-first, #translation-second {
    margin-bottom: 10px;
}

.next, .prev {
    color: #9E9E9E;
}